<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragrance Recommendation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <div id="landingPage" style="background-image: url('/static/assets/frag1.jpg');">
        <h1>Welcome to Scent Compass AI</h1>
        <h2>Find your perfect fragrance with our AI-powered recommendation system</h2>
        <button id="getStartedButton">Get Started</button>
    </div>
    <div id="formPage" style="background-image: url('/static/assets/mesh-gradient-11.png');">
        <h1>Find Your Perfect Fragrance</h1>
        <form id="preferencesForm">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="0">Male</option>
                <option value="1">Female</option>
                <option value="2">Unisex</option>
            </select><br><br>

            <label for="notes">Favorite Notes:</label>
            <select id="notes" multiple="multiple"></select><br><br>

            <label for="families">Favorite Families:</label>
            <select id="families" multiple="multiple"></select><br><br>

            <label for="disliked_notes">Disliked Notes:</label>
            <select id="disliked_notes" multiple="multiple"></select><br><br>

            <button type="button" id="submitButton">Get Recommendations</button>
        </form>

        <div id="recommendations">
            <h2>Recommendations:</h2>
            <ul id="recommendationList"></ul>
        </div>
    </div>
    <script>
        document.getElementById('getStartedButton').addEventListener('click', function() {
            document.getElementById('formPage').scrollIntoView({ behavior: 'smooth' });
        });
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>